
 * {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
} 

body {
    
}

.calculator {
    width: 18rem;
    height: 41rem;
    background: hsl(208, 28%, 35%);
    background: linear-gradient(to top, hsl(208, 30%, 35%), hsl(208, 30%, 40%));
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 100px 30px;
    border-bottom-right-radius: 100px 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translatex(-50%);
    left: 50%;
    padding: 1.5rem;
    color: hsl(225, 20%, 84%);
    font-family: Helvetica;
    box-shadow: 0 0 50px 5px hsla(0, 0%, 0%, .5);
}

.logo, .model, .svpam {
    font-size: 90%;
}

.logo {
    font-family: 'Eurostile Extended', Impact;
    text-transform: uppercase;
}

.model {
    float: right;
    font-style: italic;
    font-family: CMU;
}

.svpam {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: hsl(353, 50%, 70%);
    margin-top: .75em;
    font-family: pirulen;
}

.screen {
    width: 100%;
    height: 10rem;
    background: hsl(190, 20%, 88%);
    border-radius: 4px;
    box-shadow: inset 0 0 5px black;
    margin: 1em 0;
    color: black;
    overflow: scroll;
}

.screen .input {
    font-family: 'Scientific Calculator LCD', monospace;
    font-size: 1rem;
    position: relative;
    top: 12px;
    left: 12px;
}

.screen .main-display {
    font-family: 'Segment7Standard', monospace;
    font-size: 2rem;
    text-align: right;
    vertical-align: bottom;
    width: 275.2px;
    display: block;
    position: absolute;
    padding: .4rem;
    overflow-x: hidden;
}

button {
    text-align: center ;
    cursor: pointer;
    padding: 5px;
    border: 0 white none;
    box-sizing: border-box;
    color: hsl(225, 20%, 84%);
    position: relative;
    box-shadow: 2px 2px 5px 0 hsla(0, 0%, 0%, .75);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
}

.smallerFont{
 font-size: 11px !important;
}

.modifiers {
    margin: 1.5rem -30px 1.45rem 7px;
    
}

.window{
     font-size: 8px !important;
     padding-bottom: 3px !important;

}

.modifiers button {
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 15px;
    position: relative;
    margin-right: .92rem;
    background: hsl(221, 14%, 66%);
    background: linear-gradient(to top, hsl(221, 14%, 66%), hsl(221, 14%, 71%));
    font-size: 11px;
    color: black;
  
}

.modifiers button::before, .modifiers button::after {
    top: -8px !important;
}



.lineHeight{
    /* line-height: 0 !important; */
     display: inline-block;
    line-height: 0px;
    padding-top: 4px;
    text-align: center;
}


.shift::before {content: "stat plot"; left: -13px}
.shift::after {content: "f1"; right: 0px; }

.window::before {content: "tblset"; left: -2px}
.window::after {content: "f2"; right: -16px; }


.on::before {content: "calc"; left: -9px}
.on::after {content: "f4"; right: -1px; }

.alpha::before {content: "format"; left: -5px}
.alpha::after {content: "f3"; right: -16px; }

.mode::before {content: "table"; left: -2px}
.mode::after {content: "f5"; right: 0px; }


.replay {
    background: linear-gradient(to top, hsl(221, 14%, 66%), hsl(221, 14%, 71%));
    width: 78px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    left: 65%;
    top: 41%;
    border-radius: 125px;
    text-transform: uppercase;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 5px 0 hsla(0, 0%, 0%, .75);
}

button.nav {
    position: absolute;
    background: none;
    box-shadow: none;
}

.function-keys {
    margin: 1.5rem 0  0rem 0;
    margin-left: 5px;
}

.function-keys button {
    background: hsl(198, 39%, 23%);
    background: linear-gradient(to top, hsl(198, 39%, 23%), hsl(198, 39%, 28%));
    font-size: small;
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 5px;
    margin-right: 13px;
    
}

.function-keys td {
    padding-bottom: 1rem;
    padding-right: .25rem;
}

.leftButtons{
    background: hsl(198, 39%, 23%);
    background: linear-gradient(to top, hsl(198, 39%, 23%), hsl(198, 39%, 28%)) !important;
    font-size: small;
    border-radius: 5px;

}

.divideButton{
    width: 2.5rem !important;
    height: 1.75rem !important;
    background: hsl(221, 14%, 66%) !important;
    background: linear-gradient(to top, hsl(221, 14%, 66%), hsl(221, 14%, 71%)) !important;
    border-radius: 3px 3px 7px 7px !important;
}

.basic-keys {}
.basic-keys button {
    width: 2.5rem;
    height: 1.75rem;
    background: hsl(221, 14%, 66%);
    background: linear-gradient(to top, hsl(221, 14%, 66%), hsl(221, 14%, 71%));
    border-radius: 3px 3px 7px 7px;
}

.basic-keys td {
    padding-bottom: 1rem;
    padding-right: .25rem;
}

.basic-keys tr:last-child td {
    padding-bottom: 0;
}

button.pink {
    background: hsl(353, 50%, 70%);
    background: linear-gradient(to top, hsl(353, 50%, 70%), hsl(353, 50%, 75%));
}

button.blue {
    background: hsl(196, 50%, 50%);
    background: linear-gradient(to top, hsl(196, 50%, 50%), hsl(196, 50%, 60%));
}

button.green {
    background: hsl(105, 36%, 50%);
    background: linear-gradient(to top, hsl(105, 36%, 50%), hsl(105, 36%, 60%));
}


button::before, button::after {
    position: absolute;
    font-size: 9px;
    top: -13px;
    display: block;
    width: 100%;
    display: inline-block;
}

/* shift */
button::before {
    color: hsl(34, 68%, 72%);
    left: 0;
    text-align: left;
}

/* alpha */
button::after {
    color: hsl(353, 50%, 70%);
    right: 0;
    text-align: right;
}


.center-shift::before, .center-alpha::after {
    text-align: center;
}

.del::before {content: "INS";}
.ac::before {content: "A-lock";}
.modeBot::before {content: "quit";}

.combin::before {content: "ins";}
.pol::before {content: "Rec(";}
.pol::after {content: ":";}
.cube::before {content: "\221b";}
.frac::before {content: "d/c";}
.pow::before {content: "\03C0"; left: -13px}
.pow::after {content: 'H'; left: -5px}

.minus::before {content: "";}
.minus::after {content: "A";}

.plus::before {content: "mem";}
.plus::after {content: '"';}

.divideButton::before {content: "e"; left: -13px}
.divideButton::after {content: 'M'; left: -5px}

.mult::before {content: "["; left: -13px}
.mult::after {content: 'R'; left: -5px}

.sub::before {content: "]"; left: -13px}
.sub::after {content: 'W'; left: -5px}

.deg::before {content: "angle";}
.deg::after {content: "B";}
.hyp::after {content: "C";}
.sin::before {content: "sin \207b\b9";}
.cos::before {content: "cos \207b\b9";}
.tan::before {content: "tan \207b\b9";}
.sin::after {content: "E";}
.cos::after {content: "F";}
.tan::after {content: "G";}


.eng::before {content: "\2190";}
.close::paren:after {content: "X";}

.mem-plus::before {content: "M-";}
.mem-plus::after {content: "M";}


.xVars::before {content: "link";}

.stat::before {content: "list";}

.math::before {content: "test"; left: -13px}
.math::after {content: 'A'; left: -5px}

.apps::before {content: "angle"; left: -13px}
.apps::after {content: 'B'; left: -5px}

.prgm::before {content: "draw"; left: -13px}
.prgm::after {content: 'C'; left: -5px}

.vars::before {content: "distr"; left: -13px}
.vars::after {content: ''; left: -5px}

.reciprocal::before {content: "matrix"; left: -13px}
.reciprocal::after {content: 'D'; left: -5px}

.square::before {content: "\221A"; left: -13px}
.square::after {content: 'I'; left: -5px}

.comma::before {content: "EE"; left: -13px}
.comma::after {content: 'J'; left: -5px}

.open-paren::before {content: "{"; left: -13px}
.open-paren::after {content: 'K'; left: -5px}

.close-paren::before {content: "}"; left: -13px}
.close-paren::after {content: 'L'; left: -5px}

.log::before {content: "10 ˣ"; left: -13px}
.log::after {content: 'N'; left: -5px}

.seven::before {content: "u"; left: -13px}
.seven::after {content: 'O'; left: -5px}

.eight::before {content: "v"; left: -13px}
.eight::after {content: 'P'; left: -5px}

.nine::before {content: "w"; left: -13px}
.nine::after {content: 'Q'; left: -5px}


.ln::before {content: "e ˣ"; left: -13px}
.ln::after {content: 'S'; left: -5px}

.four::before {content: "L4"; left: -13px}
.four::after {content: 'T'; left: -5px}

.five::before {content: "L5"; left: -13px}
.five::after {content: 'U'; left: -5px}

.six::before {content: "L6"; left: -13px}
.six::after {content: 'V'; left: -5px}

.sto::before {content: "rcl"; left: -13px}
.sto::after {content: 'X'; left: -5px}

.one::before {content: "L1"; left: -13px}
.one::after {content: 'Y'; left: -5px}

.two::before {content: "L2"; left: -13px}
.two::after {content: 'Z'; left: -5px}

.three::before {content: "L3"; left: -13px}
.three::after {content: '\03B8'; left: -5px}

.rcl::before {content: ""; left: -13px}
.rcl::after {content: 'off'; left: -5px}

.zero::before {content: "catalog"; left: -13px}
.zero::after {content: '\005F'; left: -5px}


.period::before {content: "\00ED"; left: -13px}
.period::after {content: ':'; left: -5px}

.exp::before {content: "ans"; left: -13px}
.exp::after {content: '?'; left: -5px}

.ans::before {content: "DRG\25ba";}
.equals::before {content: "entry"; left: -12px}
.equals::after {content: "solve"; right: -6px}



/* jazzy 'x' */
/* .reciprocal, .square {} */

button span.sup {
    font-size: xx-small!important; 
    vertical-align: super;
}

.sub {
    font-size: xx-small; 
    vertical-align: bottom;
}

.xxs {
    font-size: xx-small;
}

/* Typing */

.wrapper {
  padding-top: 5px;
  padding-left: 5px;
  place-items: center;
}

.typing-demo {
  
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 1.3em;
}


h1 {
  display: inline-block;
}

h1:after {
  margin-bottom:-2px;
  content: '';
  margin-left:5px;
  width: 2px;
  height: 16px;
  background: black;
  opacity: 0;
  display: inline-block;
  animation: blink .8s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





